<a href="https://colab.research.google.com/github/JhonAlexG/cd_202202_Jhon_Gonzalez/blob/main/Taller9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import statsmodels.api as sm

In [39]:
df=pd.read_csv("https://raw.githubusercontent.com/adiacla/bigdata/master/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [40]:
# Verificar
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [41]:
df = df.drop('Cabin', axis = 1)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [42]:
df=df.dropna()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [43]:
x = df.iloc[:,[5, 6, 7]]
y = df.Survived
logit_model=sm.Logit(y,x)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.665234
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            2
Date:                Sat, 05 Nov 2022   Pseudo R-squ.:                 0.01416
Time:                        20:17:00   Log-Likelihood:                -473.65
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                  0.001108
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Age           -0.0135      0.003     -5.273      0.000      -0.019      -0.008
SibSp         -0.1952      0.087     -2.240      0.025      -0.366      -0.024
Parch          0.2616      0.097      2.703      0.007       0.072       0.451
==============================================================================

Taller

In [44]:
df[["Sex", "Embarked"]] = df[["Sex", "Embarked"]].astype("category")
df2 = pd.get_dummies(df[["Sex", "Embarked"]], prefix=["Sex", "Embarked"])
df['Sex_female'] = df2['Sex_female']
df['Sex_male'] = df2['Sex_male']
df['Embarked_Q'] = df2['Embarked_Q']
df['Embarked_S'] = df2['Embarked_S']
df['Embarked_C'] = df2['Embarked_C']
df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Sex_female,Sex_male,Embarked_Q,Embarked_S,Embarked_C
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,0,1,0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1,0,0,0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,1,0,0,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1,0,0,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q,1,0,1,0,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,0,1,0,1,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,1,0,0,1,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,0,1,0,0,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,0,1,1,0,0

In [45]:
x = df.iloc[:,[11, 12]]
y = df.Survived
logit_model = sm.Logit(y,x)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.526383
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      710
Method:                           MLE   Df Model:                            1
Date:                Sat, 05 Nov 2022   Pseudo R-squ.:                  0.2199
Time:                        20:17:00   Log-Likelihood:                -374.78
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                 7.029e-48
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Sex_female     1.1141      0.144      7.734      0.000       0.832       1.396
Sex_male      -1.3535      0.116    -11.636      0.000      -1.581      -1.126
==============================================================================

In [46]:
x = df.iloc[:,[2, 11, 12]]
y = df.Survived
logit_model = sm.Logit(y,x)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.472013
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            2
Date:                Sat, 05 Nov 2022   Pseudo R-squ.:                  0.3005
Time:                        20:17:00   Log-Likelihood:                -336.07
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                 1.982e-63
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass        -0.9876      0.118     -8.345      0.000      -1.220      -0.756
Sex_female     3.3344      0.324     10.296      0.000       2.700       3.969
Sex_male       0.7661      0.264      2.906      0.004       0.249       1.283
==============================================================================

In [47]:
x = df.iloc[:,[2, 5, 6, 7, 11, 12, 13, 14]]
y = df.Survived
logit_model = sm.Logit(y,x)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.444298
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      704
Method:                           MLE   Df Model:                            7
Date:                Sat, 05 Nov 2022   Pseudo R-squ.:                  0.3416
Time:                        20:17:00   Log-Likelihood:                -316.34
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                 5.623e-67
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass        -1.2441      0.145     -8.579      0.000      -1.528      -0.960
Age           -0.0436      0.008     -5.308      0.000      -0.060      -0.028
SibSp         -0.3547      0.128     -2.771      0.006      -0.606      -0.104
Parch         -0.0443      0.121     -0.367      0.713      -0.281       0.192
Sex_female     5.8047      0.566     10.257      0.000       4.696       6.914
Sex_male       3.1651      0.506      6.258      0.000       2.174       4.156
Embarked_Q    -0.8447      0.599     -1.410      0.158      -2.019       0.329
Embarked_S    -0.4332      0.264     -1.639      0.101      -0.951       0.085
==============================================================================

In [48]:
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import recall_score
from sklearn.model_selection import train_test_split

In [49]:
x = df.iloc[:,[2,5,6,7,11,12]]
y = df.Survived
x.shape

(712, 6)

In [50]:
model = linear_model.LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [51]:
#Precisión
print("Precision del modelo:")
model.score(x,y)

Precision del modelo:

0.8075842696629213

In [52]:
#Separar los datos de "train" en entrenamiento y realizar la prueba para probar los algoritmos
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [53]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [54]:
exhaustividad = recall_score(y_test, y_pred)
print('exhaustividad del modelo:')
print(exhaustividad)

exhaustividad del modelo:
0.7678571428571429

Pase y sexo femenino

In [55]:
x = df.iloc[:,[11,12]]
y = df.Survived

In [56]:
model = linear_model.LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [57]:
#Precisión
print("Precision del modelo:")
model.score(x,y)

Precision del modelo:

0.7794943820224719

In [58]:
#Separar los datos de "train" en entrenamiento y realizar la prueba para probar los algoritmos
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [59]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [60]:
exhaustividad = recall_score(y_test, y_pred)
print('exhaustividad del modelo:')
print(exhaustividad)

exhaustividad del modelo:
0.6666666666666666

Taller 9

In [61]:
from sklearn.metrics import accuracy_score
from sklearn.metrics._plot.confusion_matrix import confusion_matrix
from sklearn.metrics import classification_report

In [62]:
x = df.iloc[:,[5,6,7]]
y = df.Survived

In [63]:
model = linear_model.LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [64]:
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(x, y, test_size=validation_size, random_state=seed)

In [65]:
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, random_state=seed, shuffle=True)
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

Logistic Regression: 0.627444 (0.058413)

In [66]:
predictions = model.predict(X_validation)
print(accuracy_score(Y_validation, predictions))

0.6643356643356644

In [67]:
print(confusion_matrix(Y_validation, predictions))

[[86  2]
 [46  9]]

In [68]:
print(classification_report(Y_validation, predictions))

              precision    recall  f1-score   support

           0       0.65      0.98      0.78        88
           1       0.82      0.16      0.27        55

    accuracy                           0.66       143
   macro avg       0.73      0.57      0.53       143
weighted avg       0.72      0.66      0.59       143

In [69]:
#Procedimiento agregando el sexo
x = df.iloc[:,[5,6,7,11,12]]
y = df.Survived

In [70]:
model = linear_model.LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [71]:
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(x, y, test_size=validation_size, random_state=seed)

In [72]:
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, random_state=seed, shuffle=True)
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

Logistic Regression: 0.778634 (0.046251)

In [73]:
predictions = model.predict(X_validation)
print(accuracy_score(Y_validation, predictions))

0.7692307692307693

In [74]:
print(confusion_matrix(Y_validation, predictions))

[[76 12]
 [21 34]]

In [75]:
print(classification_report(Y_validation, predictions))

              precision    recall  f1-score   support

           0       0.78      0.86      0.82        88
           1       0.74      0.62      0.67        55

    accuracy                           0.77       143
   macro avg       0.76      0.74      0.75       143
weighted avg       0.77      0.77      0.76       143